$primary-color: #45EDAD;
$secondary-color:#262626;
$bg-color: #171717;
$text-color: #FFFFFF;
$delete-color: #F85858;


:export {
    $primary-color: #45EDAD;
    $secondary-color:#262626;
    $bg-color: #171717;
    $text-color: #FFFFFF;
    $delete-color: #F85858;
  }