@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300;500;600&display=swap');

$font-text: 'Dosis', sans-serif;
$primary-color: #45EDAD;
$secondary-color:#262626;
$bg-color: #171717;
$text-color: #FFFFFF;
$delete-color: #F85858;


:export {
    $primary-color: #45EDAD;
    $secondary-color:#262626;
    $bg-color: #171717;
    $text-color: #FFFFFF;
    $delete-color: #F85858;
  }