@import './styles/mixins';


.container {
    @include flex-container();
    background-color: $bg-color;
    flex-direction: column;
    gap: 2rem;
    align-items: center;

}

.link {
    @include primary-button;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin-top: 1rem;
}

.habits_list {
    display: flex;
    flex-direction: column;
    gap: 1.8rem;
    margin-top: 1rem;
}