@import './styles/mixins';


.container {
    @include flex-container();
    background-color: $bg-color;
    flex-direction: column;
    gap: 2rem;
    align-items: center;

}

.primary_button {
    @include primary-button();

    a{
        text-decoration: none;
        color: $secondary-color;
    }
}

.habits_list {
    display: flex;
    flex-direction: column;
    gap: 1.8rem;
    margin-top: 1rem;
}

.no_habit {
    font-size: 1.5rem;
}
