@import './styles/mixins';


.container {
    @include flex-container();
    background-color: $bg-color;
    flex-direction: column;
    gap: 2rem;
    align-items: center;

}

.habits_list_cont {
    display: flex;
    flex-direction: column;
    align-items: center;

    span {
        font-size: 1rem;
    }
}

.link_button {
    text-decoration: none;
    color: $secondary-color;

    button {
        @include primary-button();
    }
}

.habits_list {
    display: flex;
    flex-direction: column;
    gap: 1.8rem;
    margin-top: 1rem;
}

.no_habit {
    font-size: 1.5rem;
}
